{{ define "main" }}
<div>
  <h2>AdTech и MarTech глоссарий</h2>

  <p style="font-style:normal;font-weight:500">Глоссарий по AdTech и
    MarTech объясняет акронимы, сокращения и уникальную терминологию,
    используемую в индустрии технологий онлайн-рекламы (AdTech) и
    маркетинговых технологий (MarTech).
  </p>

  <div>
    <div>

      <div class="pt-5 pb-5">
        <a href="#letter-a" class="link-dark">A</a>
        <a href="#letter-b" class="link-dark">B</a>
        <a href="#letter-c" class="link-dark">C</a>
        <a href="#letter-d" class="link-dark">D</a>
        <a href="#letter-e" class="link-dark">E</a>
        <a href="#letter-f" class="link-dark">F</a>
        <a href="#letter-g" class="link-dark">G</a>
        <a href="#letter-h" class="link-dark">H</a>
        <a href="#letter-i" class="link-dark">I</a>
        <a href="#letter-j" class="link-dark">J</a>
        <a href="#letter-k" class="link-dark">K</a>
        <a href="#letter-l" class="link-dark">L</a>
        <a href="#letter-m" class="link-dark">M</a>
        <a href="#letter-n" class="link-dark">N</a>
        <a href="#letter-o" class="link-dark">O</a>
        <a href="#letter-p" class="link-dark">P</a>
        <a href="#letter-q" class="link-dark">Q</a>
        <a href="#letter-r" class="link-dark">R</a>
        <a href="#letter-s" class="link-dark">S</a>
        <a href="#letter-t" class="link-dark">T</a>
        <a href="#letter-u" class="link-dark">U</a>
        <a href="#letter-w" class="link-dark">W</a>
        <a href="#letter-x" class="link-dark">X</a>
        <a href="#letter-y" class="link-dark">Y</a>
        <a href="#letter-z" class="link-dark">Z</a>

      </div>

      <h1 class="pb-3">A</h1>
      <div id="letter-a"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-trafficking-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad trafficking
          </a>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-space-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad space
          </a>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-slot-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad slot
          </a>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/adops/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            AdOps
          </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/audience-segment/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Audience segment </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/attribution/"
            class="align-middle link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Attribution </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/application-programming-interface-api/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Application programming interface (API) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/advertiser/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Advertiser </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-verification/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad verification </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ads-txt/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ads.txt </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ads-cert/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ads.cert </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-unit/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad unit </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/adtech-platform/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            AdTech platform </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/adtech/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            AdTech </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-targeting/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad targeting </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-tag/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad tag </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-server/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad server </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-pod/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad pod </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-network/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad network </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-exchange/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad exchange </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/adchoices/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            AdChoices </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-call/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad call </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ad-blocking/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Ad blocking </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/advertising-agency/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Advertising agency </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/analytics-suite/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Analytics suite </a>
        </div>
      </div>

      <h1 class="pb-3">B</h1>
      <div id="letter-b"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/blacklist/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Blacklist </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/bid-request/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Bid request </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/bidding-strategy/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Bidding strategy </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/bidder/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Bidder </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/behavioral-targeting/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Behavioral targeting </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/behavioral-data/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Behavioral data </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/banner-ad/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Banner ad </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/beacon/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Beacon </a>
        </div>

      </div>

      <h1 class="pb-3">C</h1>
      <div id="letter-c"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/conversion-rate-cvr/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Conversion rate (CVR) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/customer-data-platform-cdp/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Customer-data platform (CDP) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/click-through-rate-ctr/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Click-through rate (CTR) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/creative-tag/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Creative tag </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/creative/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Creative </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a
            href="glossary/cost-per-mille-viewable-impressions-vcpm/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cost per mille viewable impressions (vCPM) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a
            href="glossary/cost-per-mille-cpm-effective-cost-per-mille-ecpm/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cost per mille (CPM) / effective cost per mille (eCPM)
          </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/cost-per-completed-view-cpcv/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cost per completed view (CPCV) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a
            href="glossary/cost-per-click-cpc-effective-cost-per-click-ecpc/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cost per click (CPC) / effective cost per click (eCPC)
          </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a
            href="glossary/cost-per-action-cpa-effective-cost-per-action-ecpa/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cost per action (CPA) / effective cost per action (eCPA)
          </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/cookie-syncing/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cookie syncing </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/cookie/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cookie </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/conversion-pixel/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Conversion pixel </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/conversion/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Conversion </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/contextual-targeting/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Contextual targeting </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/contextual-data/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Contextual data </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/content-delivery-network-cdn/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Content-delivery network (CDN) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/consent-management-platform-cmp/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Consent-management platform (CMP) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/cloud/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Cloud </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/campaign/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Campaign </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/click/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Click </a>
        </div>

      </div>

      <h1 class="pb-3">D</h1>
      <div id="letter-d"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">
        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/dynamic-pricing/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Dynamic pricing </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/dynamic-creative/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Dynamic creative </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/display-advertising/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Display advertising </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/deterministic-matching/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Deterministic matching </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/device-fingerprinting/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Device fingerprinting </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/demographic-data/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Demographic data </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/demand-side-platform-dsp/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Demand-side platform (DSP) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/deduplication/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Deduplication </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/decisioning/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Decisioning </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/data-onboarding/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Data onboarding </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/data-management-platform-dmp/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Data-management platform (DMP) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/data-broker/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Data broker </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/daisy-chain/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Daisy chain </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/digital-advertising-alliance-daa/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Digital Advertising Alliance (DAA) </a>
        </div>

      </div>

      <h1 class="pb-3">F</h1>
      <div id="letter-f"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/frequency-capping/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Frequency capping </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/floor-optimizations/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Floor optimizations </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/first-price-auctions/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            First-price auctions </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/first-party-cookie/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            First-party cookie </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/fill-rate/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Fill rate </a>
        </div>

      </div>

      <h1 class="pb-3">G</h1>
      <div id="letter-g"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a
            href="glossary/general-data-protection-regulation-gdpr/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            General Data-Protection Regulation (GDPR) </a>
        </div>

      </div>

      <h1 class="pb-3">H</h1>
      <div id="letter-h"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/header-bidding-hb/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Header bidding (HB) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/hard-floor-price/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Hard-floor price </a>
        </div>

      </div>

      <h1 class="pb-3">I</h1>
      <div id="letter-i"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/insertion-order-io-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Insertion Order (IO) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/inventory-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Inventory </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/intelligent-tracking-prevention-itp/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Intelligent tracking prevention (ITP) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/impression/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Impression </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/internet-advertising-bureau-iab/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Internet Advertising Bureau (IAB) </a>
        </div>

      </div>

      <h1 class="pb-3">L</h1>
      <div id="letter-l"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/look-alike-modeling/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Look-alike modeling </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/landing-page/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Landing page </a>
        </div>

      </div>

      <h1 class="pb-3">M</h1>
      <div id="letter-m"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/mraid-mobile-rich-media-ad-interface-definitions/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            MRAID (mobile rich media ad interface definitions) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/martech/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            MarTech </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/manual-media-buying/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Manual media-buying </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/madtech/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            MadTech </a>
        </div>

      </div>

      <h1 class="pb-3">N</h1>
      <div id="letter-n"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/native-advertising/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Native advertising </a>
        </div>
      </div>

      <h1 class="pb-3">O</h1>
      <div id="letter-o"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/ott-advertising/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            OTT advertising </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/openrtb/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            OpenRTB </a>
        </div>
      </div>

      <h1 class="pb-3">P</h1>
      <div id="letter-p"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/publisher/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Publisher </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/programmatic-direct/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Programmatic direct </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/probabilistic-matching/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Probabilistic matching </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/private-marketplace/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Private marketplace </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/premium-inventory/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Premium inventory </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/pop-up-ad/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Pop-up ad </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/pixel/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Pixel </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/personally-identifiable-information-pii/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Personally identifiable information (PII) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/piggybacking/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Piggybacking </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/passback/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Passback </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/programmatic/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Programmatic </a>
        </div>
      </div>

      <h1 class="pb-3">R</h1>
      <div id="letter-r"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/real-time-bidding-rtb/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Real-time bidding (RTB) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/run-on-site-ros/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Run on site (ROS) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/run-on-network-ron/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Run on network (RON) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/return-on-investment-roi/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Return on investment (ROI) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/run-on-exchange-roe/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Run on exchange (ROE) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/reporting/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Reporting </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/remnant-inventory/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Remnant inventory </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/retargeting/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Retargeting </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/reach/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Reach </a>
        </div>
      </div>

      <h1 class="pb-3">S</h1>
      <div id="letter-s"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/supply-side-platform-ssp/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Supply-side platform (SSP) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/soft-floor-price/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Soft-floor price </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/second-price-auction/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Second-price auction </a>
        </div>
      </div>

      <h1 class="pb-3">T</h1>
      <div id="letter-t"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/traffic-shaping/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Traffic shaping </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/third-party-cookie/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Third-party cookie </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/taxonomy/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Taxonomy </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/tag-management-system-tms/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Tag-management system (TMS) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/tag-container/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Tag container </a>
        </div>

      </div>

      <h1 class="pb-3">U</h1>
      <div id="letter-u"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/universal-id/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Universal ID </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/user-data/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            User data </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/user-profile/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            User profile </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/user/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            User </a>
        </div>

      </div>

      <h1 class="pb-3">V</h1>
      <div id="letter-v"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/viewable-impression-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Viewable impression </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/vpaid-video-player-ad-interface-definition/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            VPAID (video player ad interface definition) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/vmap-video-multiple-ad-playlist/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            VMAP (video multiple ad playlist) </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/viewability/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Viewability </a>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/vast-video-ad-serving-template/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            VAST (video ad-serving template) </a>
        </div>

      </div>

      <h1 class="pb-3">W</h1>
      <div id="letter-w"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/waterfalling/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Waterfalling </a>
        </div>

      </div>

      <h1 class="pb-3">Y</h1>
      <div id="letter-y"
        class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4 pb-5 letters">

        <div class="col d-flex flex-column justify-content-center">
          <a href="glossary/yield/"
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            Yield </a>
        </div>

      </div>

    </div>
  </div>
</div>
{{ end }}
