pipelines:
  - name: google
    route: /google
    input:
      name: inputs.rtb
    stages:
      - name: stages.banners
      - name: stages.limits
      - name: stages.targeting
      - name: stages.rotation
    targetings:
      - name: targetings.apps
      - name: targetings.geo
    formats:
      - name: formats.native
      - name: formats.banner
    output:
      name: outputs.rtb

  - name: amazon
    route: /amazon
    input:
      name: inputs.rtb
    stages:
      - name: stages.banners
      - name: stages.limits
      - name: stages.targeting
      - name: stages.rotation
    targetings:
      - name: targetings.apps
      - name: targetings.geo
    formats:
      - name: formats.native
      - name: formats.banner
    output:
      name: outputs.rtb # rtb

  - name: kodikapusta
    route: /kodikapusta
    input:
      name: inputs.web
    stages:
      - name: stages.banners
        config:
          example: example
      - name: stages.limits
      - name: stages.targeting
      - name: stages.rotation
    targetings:
      - name: targetings.apps
      - name: targetings.geo
    formats:
      - name: formats.banner
    output:
      name: outputs.web
      config:
        example: example