server:
  port: ":8081"

redis-pool:
  main:
    enabled: true
    key_prefix: "adscoffee"
    cluster_addrs: ["127.0.0.1:7001"]
    username: ''
    password: ''
    pool_size: 10
    route_by_latency: true
    route_randomly: false
    pool_timeout: 3s
    connect_timeout: 1s
    max_retries: 3
    min_retry_backoff: 8ms
    max_retry_backoff: 512ms
    dial_timeout: 5s
    read_timeout: 2s
    write_timeout: 2s

kafka-pool:
    main:
      enabled: true
      seeds:
        - localhost:19092
        - localhost:29092
        - localhost:39092
      producer:
        disable_idempotent_write: true

telemetry:
  jaeger:
    enabled: false

database:
  user: admin
  password: 123
  host: localhost
  port: 6432
  dbname: admin_dev

pipelines:
  - name: dsp
    route: /dsp
    input:
      name: inputs.rtb
    stages:
      - name: stages.banners
      - name: stages.limits
      - name: stages.targeting
      - name: stages.rotation
    targetings:
      - name: targetings.apps
      - name: targetings.geo
    output:
      name: outputs.rtb

  - name: native
    route: /native/{placement}
    input:
      name: inputs.web
    stages:
      - name: stages.banners
      - name: stages.limits
      - name: stages.targeting
      - name: stages.rotation
      - name: stages.mediation
    targetings:
      - name: targetings.apps
      - name: targetings.geo
    output:
      name: outputs.web
      config:   
        base: example

  - name: banner
    route: /banner/{placement}/{action}
    input:
      name: inputs.static
    stages:
      - name: stages.banners
      - name: stages.limits
      - name: stages.targeting
      - name: stages.rotation
    targetings:
      - name: targetings.apps
      - name: targetings.geo
    output:
      name: outputs.static # save to cache
      config:
        base: http://ads.coffee

  - name: tracker
    route: /tracker
    input:
      name: inputs.tracker
    output:
      name: outputs.pixel

  - name: postback
    route: /postback
    input:
      name: inputs.postback
    output:
      name: outputs.empty